<navbar-template></navbar-template>

<div class="wrapper" ng-controller="CoursesController">
	<div class="page-wrapper">
		<div class="container" id="courses">
			<h3 class="title" style="display: inline-block; margin-right: 20px">Course List</h3>
			<a href="#/courses/create" class="btn btn-default">
				<span class="fa fa-plus"></span>
				Create
			</a>
			<hr />
		</div>
		<div class="container" id="courses-content">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th style="text-align: center;">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="course in courses">
						<td>{{ course.name }}</td>
						<td>{{ course.price }}</td>
						<td style="text-align: center;">
							<a href="#" class="btn btn-primary">
								<span class="fa fa-pencil"></span>
							</a>
							<a href="#" class="btn btn-danger">
								<span class="fa fa-trash"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
