@import './mixin';

body{
  font-family: Lato-Light;
}

#loading{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .loading-content{
        position: relative;
        top: 50%;
        @include transform(translateY(-55px));
        text-align: center;
    }
}

.navbar-default{
    background-color: #6B0000;
    border-radius: 0;
    border: none;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.7);
    .navbar-toggle{
        border: none;
        .icon-bar{
            background-color: #fff;
        }
        &:hover{
            background: none;
        }
    }
    .navbar-brand{
        color: #fff;
        display: none;
        @media(max-width:767px){
            display: block;
        }
    }
    .navbar-nav{
        li{
            a{
                color: #fff;
                font-weight: 800;
                cursor: pointer;
                @include transition(all 0.2s ease-in-out);
            }
            &:hover{
                a{
                    background-color: #EA454B;
                    color: #fff;
                }
            }
            &.dropdown{
                .dropdown-menu{
                    li{
                        a{
                            color: #000;
                        }

                    }
                }
            }
        }
    }
}

.heading{
    .col-md-6{
        img{
            position: relative;
            top: 3px;
            max-width: 160px;
        }
        p{
            position: absolute;
            top: 25px;
            left: 180px;
            font-weight: 800;
            color: #910111;
        }
        &:nth-of-type(1){
            @media(max-width:767px){
                display: none;
            }
        }
    }
    .navbar-right{
        position: relative;
        li{
            a{
                color: #777;
                font-size: 15px;
            }
            &:hover{
                a{
                    background: none;
                    color: #777;
                }
            }
            &.dropdown{
                img{
                    border: solid 2px #6B0000;
                }
            }
            &.dropdown.open{
                a{
                    background: none;
                    color: #910111;
                }
                .dropdown-menu{
                    left: 0;
                    border-radius: 0;
                    li{
                        a{
                            color: #777;
                        }
                        &:hover{
                            a{color: #000;}
                        }
                    }
                }
            }
        }
    }
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .page-wrapper{
        position: relative;
        width: inherit;
        height: auto;
        min-height: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
        .container p{
            line-height: 2em;
            text-align: justify;
        }
    }
}

#card{
    .title{
        float: left;
        color: #777;
    }
    .btn.btn-default{
        margin-left: 15px;
        margin-top: 15px;
        border-width: 2px;
        border-color: #777;
        color: #777;
        @include transition(all 0.15s ease-in-out);
        &:hover{
            background-color: transparent;
            box-shadow: 1px 3px 7px rgba(0,0,0,0.3);
        }
    }
    hr{
        border-width: 2px;
    }
}

// Package etc.
#card-content{
    .panel.panel-default{
        border-radius:0;
        border-width:3px;
        border-color:#6B0000;
        box-shadow: 1px 5px 7px rgba(0,0,0,0.3); 
        @include transition(all 0.15s ease-in-out);
        .panel-heading{
            background-color:#6B0000;
            border-radius:0;
            h5{
                color: #fff;
            }
            .btn.btn-default{
                background-color: transparent;
                color: #fff;
                border: none;
            }
        }
        .list-group-item{
            border-top-width: 3px;
            border-color: #6B0000;
        }
    }
    form{
        input{
            border: none;
            border-radius: 0;
            box-shadow: none;
            border-bottom: solid 1px #777;
        }
        textarea{
            resize: none;
            border-color: #777;
            border-radius: 0;
        }
        .btn.btn-default{
            margin-left: 15px;
            margin-top: 15px;
            border-width: 2px;
            border-color: #777;
            color: #777;
            @include transition(all 0.15s ease-in-out);
            &:hover{
                background-color: transparent;
                box-shadow: 1px 3px 7px rgba(0,0,0,0.3);
            }
        }
    }
}

// Login
.login-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  .login-sidebar{
    position: relative;
    max-width: 30%;
    top: 0;
    min-height: 100%;
    background-color: #6B0000;
    transition: all 1s ease-in-out;
    @media (max-width: 800px){
      width: 0%;
    }
    .logo{
      position: absolute;
      width: 100%;
      top: 50%;
      @include transform(translateY(-50px));
      p{
          text-align: center;
          img{
            width: 200px;
          }
      }
    }
  }
  .login-form{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
    background-color: #850101;
    @media (max-width: 800px){
      width: 100%;
    }
    .form-user{
            position: relative;
            top: 50%;
            left: 15%;
            @include transform(translateY(-160px));
            @media (max-width:800px){
                left: 0px;
                padding-left: 20px;
                padding-right: 20px;
                top: 47%;
            }            
            h1{
                margin-top: 0px;
                margin-bottom: 20px;
                color: #fff;
                font-weight: 200;
                letter-spacing: 2px;
            }
            h3{
                color: #fff;
                margin-top: 5px;
            }
            form{
                margin-top: 20px;
                margin-left: 15px;
                .form-group{
                    margin-right: 10px;
                    label{
                        color: #fff;
                        font-size: 11px;
                    }
                    input{
                        border-radius: 0;
                        border-width: 2px;
                        border-color: #fff;
                        background-color: transparent;
                        color: #fff;
                        min-height: 45px;
                    }
                    .btn.btn-default{
                        border: none;
                        border-radius: 0;
                        background-color: #6B0000;
                        color: #fff;
                        font-size: 11px;
                        font-weight: 800;
                        min-width: 90px;
                        min-height: 40px;
                        margin-top: 5px;
                    }                    
                }
            }
        }
  }
}
